<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/two-column.html}"
      >


    <span layout:fragment="page-subtitle">
    Dinky!
    </span>


    <div  layout:fragment="column-1">
        <div th:each="c : ${content.search('bagindex','*',0,10).content}" class="card mb-5">
            <div class="card-body">
                <h3>
                 <a th:href="@{|/content/bagindex/${c.id}|}" th:text="@{| Color: ${c.content['color']} |}"></a>
            </h3>
            <p th:text="${c.content['flavor']}"></p>
            </div>
        </div>
    </div>

    <div  layout:fragment="column-2">
            Col 2
    </div>




</div>